﻿@charset "utf-8";
/* CSS Document */

div.bd_banner_container { position: absolute; overflow: hidden; width: 1008px; height: 422px; background-color: #fff; }
div.bd_banner_data { position: absolute; }
	div.bd_banner_data img { display: block; width: 1008px; height: 422px; }
div.bd_banner_side { position: absolute; height: 10px; margin-top: 392px;  }
	div.bd_banner_side a { display: block; float: left; width: 10px; height: 10px; margin-right: 10px; cursor: pointer; background: url(bd_banner_side_a.png) no-repeat center center; }
		div.bd_banner_side a:hover { background-position: right center; }
		div.bd_banner_side a.sel { background-position: left center; }