﻿@charset "utf-8";
/* CSS Document */

div.bd_dialog_mask { position: absolute; display: none; overflow: hidden; margin: 0; padding: 0; border: 0; background-color: rgba(0,0,0,0.4); color: #fff; z-index: 99999; }
div.bd_dialog_modal { position: absolute; display: none; overflow: visible; margin: 0; padding: 0; border: 0; background: url(bd_dialog_modal_bottom.png) repeat-x left bottom; }
	div.bd_dialog_modal div.bd_dialog_modal_container { overflow: hidden; margin: 0; padding: 0; border: 0; min-width: 30px; min-height: 30px; background-color: #fff; }
	div.bd_dialog_modal ul.bd_dialog_modal_button { overflow: hidden; margin: 0; padding: 0; border: 0; height: 27px; }
	div.bd_dialog_modal li.bd_dialog_button_custom { width: 63px; height: 25px; overflow: hidden; background-color: transparent; border: 1px solid #afafaf; border-radius: 3px; font: bold 14px/25px 微软雅黑; text-align: center; color: #afafaf; text-indent: 5px; letter-spacing: 5px; cursor: pointer; }
		div.bd_dialog_modal li.bd_dialog_button_custom:hover { background-color: transparent; border-color: #575757; color: #777; }
		div.bd_dialog_modal li.bd_dialog_button_custom.invalid { cursor: default; }
		div.bd_dialog_modal li.bd_dialog_button_custom.def { background-color: #afafaf; border-color: #afafaf; color: #fff; }
			div.bd_dialog_modal li.bd_dialog_button_custom.def:hover { background-color: #575757; border-color: #575757; color: #fff; }

	div.bd_dialog_modal div.bd_dialog_button_close { position:absolute; margin:0; padding:0; border:0; width:28px; height:28px; background:url(bd_dialog_button_close.png) no-repeat left center; text-indent:-99999px; cursor:pointer; }
		div.bd_dialog_modal div.bd_dialog_button_close:hover { background-position: right center; }

	div.bd_dialog_modal.bd_dm_alert div.bd_dialog_modal_container { border-bottom: 2px solid #7b7b7b; }
		div.bd_dialog_modal.bd_dm_alert div.bd_dialog_modal_container div.bd_dialog_mc_main { width: 532px; height: 160px; display: table; }
			div.bd_dialog_modal.bd_dm_alert div.bd_dialog_modal_container div.bd_dialog_mc_main div.bd_dialog_mc_context { display: table-cell; vertical-align: middle; text-align: center; }
				div.bd_dialog_modal.bd_dm_alert div.bd_dialog_modal_container div.bd_dialog_mc_main div.bd_dialog_mc_context span.bd_dialog_mcc_ico { overflow: hidden; width: 26px; height: 26px; padding: 10px 26px 0 0; margin: 5px 15px 0 0; background: url(bd_dialog_mcc_ico.png) no-repeat left center; }
					div.bd_dialog_modal.bd_dm_alert div.bd_dialog_modal_container div.bd_dialog_mc_main div.bd_dialog_mc_context span.bd_dialog_mcc_ico.alert { background-position: left center; }
					div.bd_dialog_modal.bd_dm_alert div.bd_dialog_modal_container div.bd_dialog_mc_main div.bd_dialog_mc_context span.bd_dialog_mcc_ico.error { background-position: right center; }
					div.bd_dialog_modal.bd_dm_alert div.bd_dialog_modal_container div.bd_dialog_mc_main div.bd_dialog_mc_context span.bd_dialog_mcc_ico.confirm { background-position: center center; }
				div.bd_dialog_modal.bd_dm_alert div.bd_dialog_modal_container div.bd_dialog_mc_main div.bd_dialog_mc_context span.bd_dialog_mcc_text { font: bolder 13px/28px 微软雅黑; color: #7b7b7b; }
	div.bd_dialog_modal.bd_dm_alert ul.bd_dialog_modal_button { height: 55px; text-align: right; background-color: #e2e2e2; display: block; padding-right: 30px; }
		div.bd_dialog_modal.bd_dm_alert ul.bd_dialog_modal_button li.bd_dialog_button_custom { margin: 14px 5px; float: right; }
