﻿@charset "utf-8";
/* CSS Document */

div.bd_select { overflow: hidden; display: table; height: 20px; padding: 2px 0; border: 1px solid #afafaf; border-radius: 3px; }
	div.bd_select div.bd_select_button { width: 25px; height: 25px; margin: -3px 0; }
		div.bd_select div.bd_select_button a.bd_select_button_btn { display: block; position: absolute; overflow: hidden; width: 24px; height: 24px; border: 1px solid #afafaf; border-radius: 3px; cursor: pointer; text-indent: -9999px; background: url(bd_select_button_btn.png) no-repeat center center; }
			div.bd_select div.bd_select_button a.bd_select_button_btn.invalid { background: url(bd_select_button_btn_invalid.png) no-repeat center center; }
			div.bd_select div.bd_select_button a.bd_select_button_btn.sel { -moz-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg); }
	div.bd_select div.bd_select_value { width: 150px; height: 20px; padding: 0 7px; }
		div.bd_select div.bd_select_value span.value { display: block; overflow: hidden; width: 100%; height: 20px; font: 12px/20px 宋体; color: #575757; text-indent: 0; text-align: left; }
			div.bd_select div.bd_select_value span.value.single { text-align: center; }
	div.bd_select div.bd_select_data.embed { margin-top: 24px; }

div.bd_select_data { display: block; position: absolute; z-index: 99999; margin: 0; border: 1px solid #afafaf; border-radius: 3px; background-color: #fff; }
	div.bd_select_data a { display: block; height: 20px; font: 12px/20px 宋体; color: #575757; text-indent: 0; text-align: center; cursor: pointer; }
		div.bd_select_data a:hover { background-color: #dfeef7; }
