﻿@charset "utf-8";
/* CSS Document */

div.bd_cale_container { 
	position:absolute;
	width: 851px; height:175px; overflow:hidden;
	margin:15px 0 0 43px;
	background-color:#f3f3f3;
}
	div.bd_cale_container div, div.bd_cale_container li { font-family:微软雅黑; }
	div.bd_cale_container div.bd_cale_own {
		position:absolute;
		
		display:-moz-box;
		display:-webkit-box;
		display:box;
		box-orient:horizontal;
		-moz-box-orient:horizontal;
		-webkit-box-orient:horizontal;
	}
	div.bd_cale_own ul.bd_cale_month { width:255px; height:175px; margin-right:43px; }
		div.bd_cale_own ul.bd_cale_month li { 
			float:left; 
			width:15px; height:14px; overflow:hidden;
			margin-left:15px;
			text-align:center; 
			font-family: 宋体; line-height:14px; color:#1a1a1a;
			cursor:pointer;
		}
			div.bd_cale_own ul.bd_cale_month li.bd_cale_month { width:24px; height:20px; text-align:center; font-size:20px; line-height:20px; color:#aaa; font-weight:bold; margin:0; margin:0 195px 0 40px; }
			div.bd_cale_own ul.bd_cale_month li.bd_cale_tn { font-family:微软雅黑; font-weight:bold; color:#aaa; }
			div.bd_cale_own ul.bd_cale_month li.bd_cale_blank { width:100%; height:1px; background-color:#ccc; margin:3px 0; }
			div.bd_cale_own ul.bd_cale_month li.bd_cale_week { background-color:#dbdbdb; color:#617a97; }
			div.bd_cale_own ul.bd_cale_month li.bd_cale_now { color:red; }
			div.bd_cale_own ul.bd_cale_month li.bd_cale_hd { color:#617a97; }
			div.bd_cale_own ul.bd_cale_month li.bd_cale_tn.bd_cale_week { color:#617a97; background:none; }

div.bd_cale_jt { position: absolute; width:937px; }
	div.bd_cale_jt div { width: 24px; height: 40px; overflow: hidden; cursor: pointer; margin-top:65px; }
		div.bd_cale_jt div.bd_cale_jt_left { float: left; margin-left:-48px; background:url(bd_cale_jt_left.png) no-repeat left top; }
			div.bd_cale_jt div.bd_cale_jt_left:hover { background-position:0 -41px; }
		div.bd_cale_jt div.bd_cale_jt_right { float: right; margin-right: -48px; background:url(bd_cale_jt_right.png) no-repeat left top; }
			div.bd_cale_jt div.bd_cale_jt_right:hover { background-position: 0 -41px; }